@model Caso_Estudio_1.Models.AddServiciosViewModel

<h1>Registrar Servicio</h1>

<div>
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control bg-dark text-white border-0" asp-for="Nombre" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Descripción</label>
            <input type="text" class="form-control bg-dark text-white border-0"  asp-for="Descripcion" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Monto (₡)</label>
            <input type="number" step="0.01" class="form-control bg-dark text-white border-0" asp-for="Monto" required />
        </div>

        <div class="mt-3">
            <label class="form-label">IVA (₡)</label>
            <input type="number" step="0.01" class="form-control bg-dark text-white border-0" asp-for="IVA" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Especialidad</label>
            <select class="form-select" asp-for="Especialidad" required>
                <option value="">Seleccione una especialidad</option>
                <option value="1">Medicina General</option>
                <option value="2">Imagenología</option>
                <option value="3">Microbiología</option>
            </select>
        </div>

        <div class="mt-3">
            <label class="form-label">Especialista</label>
            <input type="text" class="form-control bg-dark text-white border-0" asp-for="Especialista" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Clínica</label>
            <input type="text" class="form-control bg-dark text-white border-0" asp-for="Clinica" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Estado</label>
            <select class="form-select" asp-for="Estado">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a class="btn btn-dark text-white text-decoration-none" asp-action="List" asp-controller="Servicios">Cancelar</a>
        </div>
    </form>
</div>
