@model Caso_Estudio_1.Models.Entities.Categoria;

<h2>Eliminar</h2>
<p>Seguro de querer eliminar @Model.nombre ?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="categoriaId" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="List" class="btn btn-secondary">Cancelar</a>
</form>