@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Caso_Estudio_1.Models.Entities.Categoria;

<h3 class="m-2">Editar Categoria</h3>


@if (Model == null)
{
    <p>No hay categorías con este ID</p>
}
else {

<div class="m-3">
    <form method="post">
        <div class="mt-3">
            <label class="form-label text-white-50">Id</label>
            <input type="text" class="form-control bg-dark text-white border-0" asp-for="categoriaId" readonly />
        </div>
        <div class="mt-3">
                <label class="form-label text-white-50">Nombre</label>
                <input type="text" class="form-control bg-dark text-white border-0" asp-for="nombre" />
        </div>

        <div class="mt-3">
                <label class="form-label text-white-50">Detalle</label>
                <input type="text" class="form-control bg-dark text-white border-0" asp-for="detalle" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                Guardar
            </button>
                <button type="submit" class="btn btn-dark">
                    <a class="text-white text-decoration-none" asp-action="List" asp-controller="Categoria">Cancelar</a>
                </button>
                <button class="btn btn-danger">
                    <a class="text-white text-decoration-none" asp-controller="Categoria" asp-action="Delete" asp-route-id="@Model.categoriaId">Eliminar</a>
                    </button>
        </div>
    </form>
</div>

}